CompileFlags:
  CompilationDatabase: "."
  Remove:
    - "/RTC*"
    - "-RTC*"
    - "/Zi"
    - "/FS"
  Add:
    - "--target=i686-pc-windows-msvc"
    - "-fms-extensions"
    - "-fms-compatibility"
    - "-fdelayed-template-parsing"
